@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1d1823;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* can use these for theming? */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1823;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Tahoma, Helvetica, sans-serif;
}
